a{
    text-decoration: none;
}

#textarea{
	resize: none;
	margin: 0  0 20px 10px;
}

#title{
	margin: 0  0 20px 10px;
    
}

label{
    font-weight: 600;
    margin: 5px 10px;

}
.alert{
    width: 100%;
}

.create-playlist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 380px;
    background-color: #0f0f0f;
    box-shadow: 0px 6px 14px 5px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 6px 14px 5px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 6px 14px 5px rgba(255,255,255,0.75);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-input{    
    width: 100%;
    min-width: 25%;
}

.form-input p{    
    margin: 0; 
    font-size: 18px;
    font-weight: 600;
}


/* use grid  */
.selected-music{
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: 176px 176px;
    grid-template-columns: repeat(2, 1fr);
}

.music-card{
    width: 120px;
    height: 195px;
    padding: 15px;
    display: block;
    background-color: #333;
    border-radius: 5px;
    flex-direction: column;
    margin: 10px 15px;
    color: #fff;
}
.music-card:hover{
    background-color: rgb(70, 70, 70);
    transition: all 0.5s;
}

.music-title{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}

.music-artist{
    margin: 5px 0 0 0;
    font-size: 12px;
}

.form-playlist{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.title-input{
    width: 90%;
    height: 30px;
    margin: 0px 10px;
    background-color : #383838; 
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    

}

.desc-input{
    height: 180px;
    width: 90%;
    margin: 0px 10px;
    background-color : #383838; 
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    resize: none;
}

.btn-submit{
    margin: 20px 10px;
    width: 90%;
    height: 40px;
    background: #105996;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 3px 2px #eee;
    text-shadow: none;
}

.btn-submit:hover {
    cursor: pointer;
    background: #02365e;
    box-shadow: 1px 5px 5px #eee;
    transition: all 0.3s;
}