.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:  0 0 2% 0;
}

.selected-track{
    width: 100%;
    max-width: 380px;
}

.search-component{
    display: block;
    width: 30%;
}

.search-bar{
    margin: 0 15px 0 0;
    height: 30px;
    width: 50%;
}

.btn-search{
    height: 38px;
    width: 80px;
    margin: 0 0 0 5px;
    background-color: #035203;
    border-radius: 5px;
    border: none;
    color: #fff;

}

.openflex{
    display: grid;
    transition: all 0.5s;
    grid-template-columns: 1fr 2fr;
}

.closeflex{
    display: block;
    transition: all 0.5s;
}
