.App{
    padding: 25px;
}
.Playlist {
	padding: 25px 0 0 0;
	width: 85%;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}

.recommended-music{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.history-music{
    margin: 20px 0 0 0;
}

.btn-login{
    border: 2px solid white;
    border-radius: 10px;
    padding: 14px;
    display: block;
    background: transparent;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

