.App{
    padding: 25px;
}

nav{
    background-color: black;
    padding: 30px 20px;
    height: 30px;
}
ul{
    margin: 0px;
    list-style: none;
    display: inline;
}
li{
    color: rgb(255, 255, 255);
    font-size: 25px;
    float: left;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.brand{
    margin-right: 72%;
    margin-left: 30px;
    font-size: 27px;
    width: 120px;
    color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:hover{
color: chartreuse;
cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3% 0;
}

.marsh{
    width: 30%;
}
.headcontent{
    width: 45%;
    font-size: 60px;
    margin: 20px 0;
    line-height: 1.1;
    color: white;
    font-weight: bolder;
}
.content{
    font-size: 20px;
    margin: 30px;
    color: white;
    font-weight: lighter;
}

/* using css flexbox */

.Playlist {
	padding: 25px 0 0 0;
	width: 85%;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}

.recommended-music{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.history-music{
    margin: 20px 0 0 0;
}

.btn-login:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
}

.btn-logout:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
}

.btn-logout{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10 px;
    display: block;
    background: transparent;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

