html {
	height: 100%;
}
body {
	color: #fff;
	min-height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(108, 5, 72);
	background: linear-gradient(
		180deg,
		rgba(108, 5, 72, 0.8491771708683473) 22%,
		rgba(122, 21, 84, 0.48503151260504207) 63%,
		rgba(178, 182, 1, 1) 87%
	);
	background-repeat: no-repeat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
